*.iml
.gradle
.kotlin
/local.properties
local.properties
/.idea/
.DS_Store
/build
app/build
/captures
.externalNativeBuild
.cxx
*.log

# Keystore & Signing Secrets
*.jks
*.keystore
*.p12
signing.properties
release-keystore.properties
*.idsig
scratch/
